.container {
    padding: 0
}
.form-container {
    height: 45vh;
    background-color: #f8f8f8;
    padding: 2rem;
}
.search-operation {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.search-btn {
    background-color: gold;
    color: #000;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
}
.search-btn:active {
    outline: none;
    transform: scale(0.9);
    box-shadow: 1px 6px 20px 5px rgba(0,0,0,0.16);
    outline: none;
}
.search-label {
    font-size: 27px;
    font-weight: 300;
}

.sub-text {
    margin-top: 15px;
    text-align: start;
}

.search-input-field {
    margin-right: 10px;
}
.error-message {
    color: crimson;
    margin: 10px;
    text-align: start;
}